<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>customerRegisterServlet</servlet-name>
        <servlet-class>controller.customerRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customerLoginServlet</servlet-name>
        <servlet-class>controller.customerLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customerPurchaseServlet</servlet-name>
        <servlet-class>controller.customerPurchaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customerLogoutServlet</servlet-name>
        <servlet-class>controller.customerLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customerShippingServlet</servlet-name>
        <servlet-class>controller.customerShippingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchCustomerServlet</servlet-name>
        <servlet-class>controller.searchCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>customerRegisterServlet</servlet-name>
        <url-pattern>/customerRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customerLoginServlet</servlet-name>
        <url-pattern>/customerLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customerPurchaseServlet</servlet-name>
        <url-pattern>/customerPurchaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customerLogoutServlet</servlet-name>
        <url-pattern>/customerLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customerShippingServlet</servlet-name>
        <url-pattern>/customerShippingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchCustomerServlet</servlet-name>
        <url-pattern>/searchCustomerServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
